<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="~{common/header :: common-header}" />
<body>

	<div th:replace="~{common/header :: navbar}"></div>

	<div class="container">
		<div class="row">

			<!-- start of carousel slide bar -->
			<div class="col-8">
				<div class="card">
					<div class="card-body">

						<div id="carouselExampleCaptions" class="carousel slide"
							data-bs-ride="carousel">
							<div class="carousel-indicators">
								<button type="button" data-bs-target="#carouselExampleCaptions"
									data-bs-slide-to="0" class="active" aria-current="true"
									aria-label="Slide 1"></button>
								<button type="button" data-bs-target="#carouselExampleCaptions"
									data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button" data-bs-target="#carouselExampleCaptions"
									data-bs-slide-to="2" aria-label="Slide 3"></button>
							</div>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="/images/1600x500-sports-1.jpg" class="d-block w-100"
										alt="..." />
									<div class="carousel-caption d-none d-md-block">
										<h5>First slide label</h5>
										<p>Some representative placeholder content for the first
											slide.</p>
									</div>
								</div>
								<div class="carousel-item">
									<img src="/images/1600x500-sports-2.jpg" class="d-block w-100"
										alt="..." />
									<div class="carousel-caption d-none d-md-block">
										<h5>Second slide label</h5>
										<p>Some representative placeholder content for the second
											slide.</p>
									</div>
								</div>
								<div class="carousel-item">
									<img src="/images/1600x500-nature-1.jpeg" class="d-block w-100"
										alt="..." />
									<div class="carousel-caption d-none d-md-block">
										<h5>Third slide label</h5>
										<p>Some representative placeholder content for the third
											slide.</p>
									</div>
								</div>
							</div>
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<img src="/images/logo.png" class="img-fluid" alt="Logo" />
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<img src="/images/bestseller.png" class="img-fluid" />
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<img src="/images/hours.png" class="img-fluid" />
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<img src="/images/faq.png" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>

		<!-- end of carousel slide bars -->

		<!-- Start of Featured Books -->

		<div class="row">
			<div class="home-headline">
				<span>Featured Books</span>
			</div>
		</div>

		<hr style="margin-top: -15px;" />

		<div class="row">
			<div id="featured-books" class="carousel slide" data-bs-ride="false">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#featured-books"
						data-bs-slide-to="0" class="active" aria-current="true"
						aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#featured-books"
						data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#featured-books"
						data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/images/shelf.png" class="d-block w-100" alt="..." />
						<div class="carousel-caption d-none d-md-block">
							<div class="row">
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/images/shelf.png" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<div class="row">
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/images/shelf.png" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<div class="row">
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
								<div class="col-2 col-sm-2">
									<img class="img-fluid" src="/images/book1.png" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button"
					data-bs-target="#featured-books" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-bs-target="#featured-books" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<!-- End of Featured Books -->

	</div>
	<!-- end of container -->



	<div th:replace="~{common/header :: body-bottom-scripts}"></div>

</body>
</html>
